// Bootstrap, with a few defaults customized.
// Configuration has to happen in the `with (...)` block of the `@use` rule.
@use "bootstrap/scss/bootstrap" with (
  $body-color: #333,
  $body-bg: #fff,
  $border-radius: .4rem,
  $primary: #7952b3,
  $success: #7952b3
);

// Site styles
@use "site";
